#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=systemctl hibernate
Name=Hibernate
Comment=One Click Hibernate
Icon=media-playback-pause
NoDisplay=false
Categories=Utilities;System
