#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=systemctl poweroff
Name=Shutdown
Comment=One Click Shutdown 
Icon=application-exit
NoDisplay=false
Categories=Utilities;System